html {
    font-family: "Open Sans" sans-serif; /* with these tags you can write comments in CSS */
}

body {
    width: 600px;
    margin: 20px auto;
    padding: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    border: 2px solid lightgray;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 0%;
}

p {
    font-size: 20px;
    text-align: left;
    border: 2px solid lightgray;
    padding-inline-start: 1%;
    margin-top: 0%;
    
}